{% extends "base.html" %}
{% load static %}
{% block title%}Project{% endblock title %}
{% block projectactive %}active {% endblock projectactive %}
{% block body %}

   

      <div class="container">
        <h2 class="text-center">My Project</h2>
        <div class="row">
          <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://placeimg.com/1080/500/study" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Strabl</h5>
              <p class="card-text">Strabl is an ecommerce website which provide the facility to the user to buy a product and rent a product </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://placeimg.com/1080/500/code" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Foody</h5>
                <p class="card-text">Foody is a food delivery system which is developed on the React js</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="https://placeimg.com/1080/500/game" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Portfolio</h5>
                  <p class="card-text">Portfolio is website which is developed by me where recruiter come and see my details and there is a contact form by which recruiter contact me.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              </div>
        </div>
      </div>
{% endblock body %}